packages: 
  yum: 
    newrelic-sysmond: [] 
  rpm: 
    newrelic: http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm
commands: 
  "01": 
    command: nrsysmond-config --set license_key=f1385a0b3920fa906d8edea4b37b05eb383b6cef
  "02": 
    command: echo hostname=freight >> /etc/newrelic/nrsysmond.cfg 
  "03": 
    command: /etc/init.d/newrelic-sysmond start